$main-theme: #FCCE0B;
$main-theme-op:rgba(252,206,11, 0.8);
$theme-black: #000;
$theme-white:#fff;
$theme-white-op: rgba(255,255,255, 0.8);
$theme-coal: #2b2b29;
$theme-dark-coal: #21252b;
$theme-overlay: rgba(0,0,0,0.6);
$theme-dark-footer: #191919;
$theme-mild-footer:#21252b;
$theme-footer-text:#dbdbdb;
$theme-footer-info:#171717;