<nav-bar></nav-bar>
<div class="homepage">
    <div class="mainJumbo" >
        <div class="overlay2">
        <h1 class="text-center">PARENTS HAVE DREAMS</h1>
        <h2 class="text-center">Helping the parents of tomorrow</h2>
        <h2 class="text-center">By guiding the parents of today</h2>
        </div>
            <!--<div class="banner-one">
                <h2 id="bannerOne" class="text-center">Preparing the parents of tomorrow</h2>
            </div>
            
            <div class="banner-two container-fluid" data-stellar-ratio="2">
                <h2 id="bannerTwo" class="text-center"> by guiding the parents of today</h2>
            </div>-->
       
    </div>
        <div class="mission">
            <h1 class="text-center">OUR MISSION</h1>
            <h2 class="text-center">Parents Have Dreams works diligently to help parents reach their highest potential, 
                by providing the resources needed to identify and accomplish their dreams…In turn 
                breaking the cycle of generational misguidance.</h2>
            <hr>
            
        </div>
        <div class="mPhotos container-fluid">
            <div class="row ">
                <a href=""><div class="col-sm-12 col-md-4 pic1">
                   
                </div></a>
                <a href=""><div class="col-sm-12 col-md-4 pic2">
                  
                </div></a>
                 <a href="" ><div class="col-sm-12 col-md-4 pic3">
                  
                </div></a>
            </div>
        </div>
        <div class="social">
            <h1 class="text-center"> SOCIAL FEED</h1>
            <hr>
        </div>
          <div class="twitter">
                <a class="twitter-timeline" href="https://twitter.com/PhD_org">Tweets by PhD_org</a> 
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
        
</div>
<app-footer></app-footer>